
{% extends 'master.html' %}
{% load static %}
{% block content %}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <!-- <h4 class="page-title">API</h4> -->
                <div class="d-flex align-items-center">
                </div>
            </div>
            <div class="col-7 align-self-center">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Row selection (multiple rows) -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <button id="insertButton" type="button" class="btn btn-primary mb-2" data-toggle="modal"
                            data-target="#insertModal">
                            Add Erledigt
                        </button>

                        <!-- Insert Modal -->
                        <div class="modal fade" id="insertModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add General Words</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <form>
                                                <div class="form-group">
                                                    <label for="domain1">Domain</label>
                                                    <input type="text" class="form-control"
                                                        id="domain1" aria-describedby="domainHelp"
                                                        required>
                                                    <span class="error1" id="domainError1"
                                                        style="color: red; font-size: 12px;"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ceoName1">Ceo Name</label>
                                                    <input type="text" class="form-control"
                                                        id="ceoName1" aria-describedby="ceoNameHelp"
                                                        required>
                                                    <span class="error1" id="ceoNameError1"
                                                        style="color: red; font-size: 12px;"></span>
                                                </div>
                                                <!-- <div class="form-group">
                                                    <label for="emailText1">Email Text</label>
                                                    <input type="text" class="form-control"
                                                        id="emailText1" aria-describedby="emailTextHelp"
                                                        required>
                                                    <span class="error1" id="emailTextError1"
                                                        style="color: red; font-size: 12px;"></span>
                                                </div> -->
                                                <div class="form-group">
                                                    <label for="emailText1">Email Text</label>
                                                    <textarea class="form-control" id="emailText1" rows="3"
                                                        required></textarea>
                                                    <span class="error1" id="emailTextError1"
                                                        style="color: red; font-size: 12px;"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="projectID1">Projekt ID</label>
                                                    <input type="number" class="form-control"
                                                        id="projectID1" aria-describedby="projectIDHelp"
                                                        required>
                                                    <span class="error1" id="projectIDError1"
                                                        style="color: red; font-size: 12px;"></span>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="timeStamp1">Time Stamp</label>
                                                    <input type="datetime-local" class="form-control"
                                                           id="timeStamp1" aria-describedby="timeStampHelp"
                                                           required>
                                                    <span class="error1" id="timeStampError1"
                                                          style="color: red; font-size: 12px;"></span>
                                                </div>
                                                

                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="closebutton1" type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" id="insertErledigt"
                                            class="btn btn-primary" >Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- update Modal -->
                        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Update Setting</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <form>
                                                <div class="form-group">
                                                    <label for="domain">Domain</label>
                                                    <input type="text" class="form-control"
                                                        id="domain" aria-describedby="domainHelp"
                                                        required>
                                                    <span class="error" id="domainError"
                                                        style="color: red; font-size: 12px;"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ceoName">Ceo Name</label>
                                                    <input type="text" class="form-control"
                                                        id="ceoName" aria-describedby="ceoNameHelp"
                                                        required>
                                                    <span class="error" id="ceoNameError"
                                                        style="color: red; font-size: 12px;"></span>
                                                </div>
                                                <!-- <div class="form-group">
                                                    <label for="emailText">Email Text</label>
                                                    <input type="text" class="form-control"
                                                        id="emailText" aria-describedby="emailTextHelp"
                                                        required>
                                                    <span class="error" id="emailTextError"
                                                        style="color: red; font-size: 12px;"></span>
                                                </div> -->
                                                <div class="form-group">
                                                    <label for="emailText">Email Text</label>
                                                    <textarea class="form-control" id="emailText" rows="3"
                                                        required></textarea>
                                                    <span class="error1" id="emailTextError"
                                                        style="color: red; font-size: 12px;"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="projectID">Projekt ID</label>
                                                    <input type="number" class="form-control"
                                                        id="projectID" aria-describedby="projectIDHelp"
                                                        required>
                                                    <span class="error" id="projectIDError"
                                                        style="color: red; font-size: 12px;"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="timeStamp">Time Stamp</label>
                                                    <input type="datetime-local" class="form-control"
                                                           id="timeStamp" aria-describedby="timeStampHelp"
                                                           required>
                                                    <span class="error1" id="timeStampError"
                                                          style="color: red; font-size: 12px;"></span>
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="closebutton" type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" id="updateErledigt"
                                            class="btn btn-primary" onclick="updateErledigt()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table id="erledigtTable" class="table table-striped table-bordered display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th style="display: none;">ID</th>
                                        <th>Domain</th>
                                        <th>Ceo Name</th>
                                        <th>Email Text</th>
                                        <th>Project ID</th>
                                        <th>Time Stamp</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Container fluid  -->
    {% endblock %}

    {% block extra_scripts %}
    <script src="{% static 'js/erledigt.js' %}"></script>

    {% endblock %}