{% extends 'master.html' %}
{% load static %}
{% block content %}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <!-- <h4 class="page-title">API</h4> -->
                <div class="d-flex align-items-center">
                </div>
            </div>
            <div class="col-7 align-self-center">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Row selection (multiple rows) -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <button id="insertButton" type="button" class="btn btn-primary mb-2" data-toggle="modal"
                            data-target="#insertModal">
                            Add Parking Keyword
                        </button>

                        <!-- Insert Modal -->
                        <div class="modal fade" id="insertModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Parking Keyword</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <form>
                                                <div class="form-group">
                                                    <label for="keyword1">Keyword</label>
                                                    <input type="text" class="form-control"
                                                        id="keyword1" aria-describedby="keywordHelp"
                                                        required>
                                                    <span class="error1" id="keywordError1"
                                                        style="color: red; font-size: 12px;"></span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="closebutton1" type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" id="insertParkingKeyword"
                                            class="btn btn-primary" >Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- update Modal -->
                        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Update Parking Keyword</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <form>
                                                <div class="form-group">
                                                    <label for="keyword">Keyword</label>
                                                    <input type="text" class="form-control"
                                                        id="keyword" aria-describedby="keywordHelp"
                                                        required>
                                                    <span class="error" id="keywordError"
                                                        style="color: red; font-size: 12px;"></span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="closebutton" type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" id="updateParkingKeyword"
                                            class="btn btn-primary" onclick="updateParkingKeyword()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table id="parkingKeywordTable" class="table table-striped table-bordered display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th style="display: none;">ID</th>
                                        <th>KeyWord</th>
                                        
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Container fluid  -->
    {% endblock %}

    {% block extra_scripts %}
    <script src="{% static 'js/parkingkeywords.js' %}"></script>

    {% endblock %}