{% extends 'master.html' %}
{% load static %}
{% block content %}

<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <!-- <h4 class="page-title">API</h4> -->
                <div class="d-flex align-items-center">
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <!-- <button id="button" class="btn btn-primary mb-2"><i class="mdi mdi-filter"></i>Add Row</button> -->
                        <!-- Button trigger modal -->
                        <button id="updatebutton" type="button" class="btn btn-primary mb-2" data-toggle="modal"
                            data-target="#exampleModal" >
                            Add Project
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Project</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" id="name"
                                                    aria-describedby="NameHelp">
                                                <span class="error1" id="nameError"
                                                    style="color: red;font-size: 12px;"></span>
                                            </div>
                                            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="closebutton2" type="button" class="btn btn-secondary"
                                            data-dismiss="modal" onclick="clearModalFields()" >Close</button>
                                        <button type="button" id="insertProject"
                                            class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Insert Modal -->
                        <!-- <div class="modal fade" id="exampleUpdateModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Projectttt</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Name</label>
                                                <input type="text" class="form-control" id="exampleInputName"
                                                    aria-describedby="NAmeHelp" placeholder="Enter project name">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="closebutton" type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- Update Modal -->
                        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Update Project</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <!-- <div class="form-group">
                                                <label for="projectId">Projekt ID</label>
                                                <input type="number" class="form-control" id="projectId"
                                                    aria-describedby="projectIdHelp" required>
                                                <span class="error1" id="projectIdError"
                                                    style="color: red; font-size: 12px;"></span>
                                            </div> -->
                                            <div class="form-group">
                                                <label for="name1">Name</label>
                                                <input type="text" class="form-control" id="name1" aria-describedby="NameHelp" value="">
                                                <span class="error" id="nameError1" style = "color: red;font-size: 12px;" ></span>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="closebutton1" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="updateProject()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table id="projectTable" class="table table-striped table-bordered display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th style="display: none;">ID</th>
                                        <th>NAME</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    {% endblock %}

    {% block extra_scripts %}
    <script src="{% static 'js/project.js' %}"></script>
    {% endblock %}