{% load static %}
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li>
                    
                </li>
                <li class="sidebar-item mt-2">
                    <a class="sidebar-link  waves-effect waves-dark" href="/" aria-expanded="false">
                        <i class="bi bi-house-door-fill"></i>
                        <span class="hide-menu">HOME</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link  waves-effect waves-dark" href="{% url 'email_sender:project' %}"
                        aria-expanded="false">
                        <i class="icon-Car-Wheel"></i>
                        <span class="hide-menu">Projects</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link  waves-effect waves-dark" href="{% url 'email_sender:settings' %}"
                        aria-expanded="false">
                        <i class="bi bi-gear-fill"></i>
                        <span class="hide-menu">Settings</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link  waves-effect waves-dark" href="{% url 'email_sender:emails' %}"
                        aria-expanded="false">
                        <i class="bi bi-envelope-fill"></i>
                        <span class="hide-menu">Emails</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link  waves-effect waves-dark" href="{% url 'email_sender:hardblacklist' %}"
                        aria-expanded="false">
                        <i class="bi bi-list-columns"></i>
                        <span class="hide-menu">Hard Blacklist</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link  waves-effect waves-dark" href="{% url 'email_sender:generalwords' %}"
                        aria-expanded="false">
                        <i class="bi bi-file-word-fill"></i>
                        <span class="hide-menu">General Words</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link  waves-effect waves-dark" href="{% url 'email_sender:erledigt' %}"
                        aria-expanded="false">
                        <i class="bi bi-patch-check-fill"></i>
                        <span class="hide-menu">Erledigt</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the 'Projects' link and the corresponding <ul> element
        var projectLink = document.querySelector(".sidebar-link.has-arrow");
        var subMenu = document.querySelector("ul.collapse.first-level");

        // Add event listener to the 'Projects' link
        projectLink.addEventListener("click", function (event) {
            // Toggle the class (add/remove 'show')
            subMenu.classList.toggle("show"); 
        });
    });

</script>